@charset "utf-8";

._navbar-title {
    font-weight: 700;
}

._search-box {
    font-size: 14px;
}
._search_button {
    font-size: 14px;
}

._container {
    margin-top: 20px;
}

._card-more{
    display: inline-block;
    padding: 10px;
    border-top: 1px solid rgb(0,0,0,0.125);
    text-align: right;
}